/* Styling for the container, adjust as needed */
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

/* Styling for the modal background */
.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 19;
}

/* Styling for the modal */
.modal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 591px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

/* Styling for the modal Header */
.modal-header {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #dadce0;
}

/* Styling for the modal content */
.modal-content {
  box-sizing: border-box;
  padding: 20px 30px;
  width: 100%;
  max-height: 440px;
  overflow-y: auto;
}

/* Styling for the close button inside the modal */
.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 22px;
  cursor: pointer;
}

/* Styling for the modal footer */

.modal-footer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;
  border-top: 1px solid #dadce0;
}

/* Styling for the form inside the modal */
#roomForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#roomForm input[type="text"] {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.success-message {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.failed-message {
  background-color: #af614c;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.success-message.active,
.failed-message.active {
  opacity: 1;
  transform: translateY(0);
}

/* content css */
.modalHeaderHeading {
  color: var(--text-100, #1c4980);
  font-size: 20px;
  font-weight: 600;
}

.fieldHeading {
  display: block;
  color: #1c4980;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inputBox,
.selectBox {
  appearance: none;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #2c2d2e;
  margin-bottom: 20px;
}

.selectBox {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px;
}

.inputBox::placeholder {
  color: #1c4980;
  font-size: 14px;
  font-weight: 500;
}

.inputBox:focus {
  border-color: #919295;
}

.durationOfAssesment {
  margin-bottom: 0;
}

.saveBtn {
  width: 100%;
  display: flex;
  height: 40px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #0073e6;
  border: 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .modal {
    width: 100%;
    top: auto;
    bottom: 0;
    transform: translate(-50%, 0%);
  }

  .modal-header,
  .modal-content,
  .modal-footer {
    padding: 15px;
  }

  .close-btn {
    top: 10px;
    right: 15px;
  }

  .fieldHeading {
    font-size: 12px;
  }
}
